!!! 5
%html
  %head= render_cell :head
  %body
    = render_cell :body_start
    %section.wrapper
      = render_cell :header
      = render_cell :navigation
      .container
        = render_cell :content
    = render_cell :body_end
